@import url('https://fonts.googleapis.com/css?family=Kanit');

* {
  font-family: 'Kanit', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

button,
a {
  cursor: pointer;
}

.transparent-button {
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background: none;
  font-weight: bold;
}

.transparent-button:hover {
  text-decoration: underline;
  text-decoration-color: forestgreen;
}

button:disabled {
  color: lightgrey;
  cursor: not-allowed;
}

input[type='checkbox']:checked,
input[type='radio']:checked {
  accent-color: darkgreen;
}

input[type='text'],
input[type='password'] {
  border-color: forestgreen;
}

input:focus {
  outline: none;
  border-color: darkgreen;
}

textarea {
  resize: vertical;
  width: 100%;
  border-color: forestgreen;
}

textarea:focus {
  outline: none;
  border-color: darkgreen;
}

select {
  height: 30px;
  border-color: forestgreen;
  border-radius: 5px;
}

select:focus {
  outline: none;
  border-color: darkgreen;
}

li::marker {
  color: forestgreen;
}

img {
  object-fit: contain;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid forestgreen;
  padding: 10px;
  text-align: center;
}

th {
  background-color: forestgreen;
  color: white;
  text-align: left;
}

tr:hover {
  background-color: white;
}

.violation-row td {
  border: 1px solid crimson;
}

.lot-violations td {
  border: 1px solid crimson;
}

.average-violations td {
  border: 1px solid orange;
}

td .action-button {
  padding: 5px 10px;
  background-color: forestgreen;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

td .action-button:hover {
  background-color: darkgreen;
}

td .action-button.delete {
  padding: 5px 10px;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

td .action-button.delete:hover {
  background-color: darkred;
}

.forbidden-word {
  color: crimson;
}
